<div class = "container">
 <div class ="row">
  <div class="col-lg-4"><%= render 'books/book', book: @book, user: @books.user %></div>

<%= flash[:edit] %>
<%= flash[:show] %>

<h1>Book detail</h1>

<div class="col-lg-8">

<table class="table table-hover table-inverse">
<tr>

	<td class="a3">
<%= link_to user_path(@books.user) do %>
<%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
<%= @books.user.name %>
<% end %>
</td>


<td class="a3">
<%=link_to @books.title ,book_path(@books.id) %>
</td>

<td class="a4">
<%= @books.body %>
</td>
<% if current_user.id == @books.user.id %>
<!--%= link_to "show",  book_path(@books.id) %>-->
<td><%= link_to "edit",  edit_book_path(@books.id) %></td>
<td><%= link_to "destroy", book_path(@books.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
<% end %>
</table>
</div>
</div>
</div>